.button {
    border: 1px black solid;
    border-radius: 5px;
    margin-top: 65px;
    width: 160px;
    height: 40px;
    transition: all 0.3s;
}

.button__content {
    font-family: Roboto, serif;
    font-weight: bolder;
    font-size: 14px;
    line-height: 16px;
    transition: all 0.3s;
}

.button:hover {
    border-color: rgba(0, 0, 0, 0.3);
    background-color: rgba(242, 242, 242, 0.7);
}

.button:hover span {
    color: rgba(0, 0, 0, 0.5);
}

.button:active {
    border-color: black;
    background-color: black;
}

.button:active span {
    color: white;
}

.button:focus {
    border-width: 2px;
}

.button:focus span {
    ...
}

.button:disabled {
    border-color: rgba(242, 242, 242, 0.7);
    background-color: rgba(242, 242, 242, 0.4);
    border-style: dotted;
}

.button:disabled span {
    color: rgba(0, 0, 0, 0.5);
}