.flex {
    display: flex;
}

.flexCenter {
    align-items: center;
    justify-content: center;
}

.inline-flex {
    display: inline-flex;
}

.direction-column {
    flex-direction: column;
}

.direction-row {
    flex-direction: row;
}

.row-reverse {
    flex-direction: row-reverse;
}

.align-center {
    align-items: center;
}

.align-end {
    align-items: flex-end;
}

.align-start {
    align-items: flex-start;
}

.justify-around {
    justify-content: space-around;
}

.justify-between {
    justify-content: space-between;
}

.justify-center {
    justify-content: center;
}

.justify-end {
    justify-content: flex-end;
}

.justify-start {
    justify-content: flex-start;
}

.wrap {
    flex-wrap: wrap;
}

.fullFlex {
    flex: 1 1 auto;
}
