/*Posts Proposition page*/

.cards-blog-box {
    margin: 32px 15px;
    width: 1170px;
}

.cards-blog-container {
    margin: 32px 0;
    background-color: white;
    width: 270px;
    height: 436px;
}

.cards-blog__icon__outer-rectangle {
    height: 270px;
    width: 270px;
    background-color: black;
}

.cards-blog__icon__inner-rectangle {
    height: 64px;
    width: 64px;
    background-color: white;
    border-radius: 8px;
}

.cards-blog__feature-container {
    margin: 24px 24px;
}

.cards-blog__feature__content {
    font-weight: bolder;
    font-size: 20px;
    line-height: 23px;
}

.cards-blog__info-link-container {
    margin-top: 50px;
    margin-left: 24px;
}

.cards-blog__info-link__content {
    font-weight: bolder;
    font-size: 14px;
    line-height: 19px;
    transition: all 0.2s;
}

.cards-blog__info-link__content:hover {
    color: rgba(0, 0, 0, 0.5);
}

/*Posts Blog page*/

.posts__box {
    margin: 40px 15px;
    width: 1170px;
}

.posts__container {
    margin: 40px 0;
    width: 370px;
    height: 600px;
}

.posts__container:nth-child(1) {
    background-color: black;
    padding: 58px 46px;
}

.posts__container:nth-child(2) {
    background-color: rgba(136, 136, 136, 0.7);
}

.posts__post-feature {
    font-weight: bolder;
    color: white;
    font-size: 56px;
    line-height: 66px;
}

.posts__post-category__description-container {
    background-color: white;
    width: 370px;
    height: 285px;
    margin-bottom: 30px;
}

.description-container__category-box {
    margin-left: 47px;
    margin-top: 40px;
    width: 58px;
    height: 20px;
}

.posts__post-category-container {
    width: 105px;
    height: 40px;
    margin-top: 38px;
    margin-left: 25px;
    margin-bottom: 23px;
    padding: 10px 24px;
    background-color: black;
}

.posts__post-category__category {
    font-weight: bolder;
    color: white;
    font-size: 14px;
    line-height: 20px;
}

.posts__post-category__category_black {
    color: black;
    font-size: 14px;
    line-height: 20px;
}

.posts__post-category__content-container {
    width: 319px;
    height: 148px;
    margin-left: 25px;
    padding: 25px;
    background-color: black;
}

.posts__post-category__content {
    font-weight: bolder;
    color: white;
    font-size: 24px;
    line-height: 34px;
}

.posts__post-category__content_black {
    color: black;
    font-size: 24px;
    line-height: 34px;
}

.description-container__text-box {
    width: 275px;
    height: 101px;
    margin-top: 17px;
    margin-left: 47px;
    margin-bottom: 40px;
}

.description-container__author-box {
    width: 104px;
    height: 26px;
    margin-left: 47px;
}

.description-container__author {
    font-size: 18px;
    line-height: 25px;
}

