.card-pricing-box {
    margin: 36px 15px;
    width: 910px;
}

.card-pricing-container {
    margin: 36px 0;
    background-color: white;
    border: 2px black solid;
    border-radius: 2px;
    width: 270px;
    height: 420px;
}

.card-pricing__icon {
    width: 54px;
    height: 54px;
    margin-top: 29px;
    background-color: black;
    border-radius: 50%;
}

.card-pricing__title-container {
    margin-top: 9px;
}

.card-pricing__title__text {
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
}

.card-pricing__subtitle-container {
    margin-top: 4px;
}

.card-pricing__subtitle__text {
    font-weight: bolder;
    font-size: 14px;
    line-height: 24px;
}

.card-pricing__features-box {
    margin-top: 30px;
    padding-bottom: 15px;
}

.card-pricing__feature__content {
    color: rgba(0, 0, 0, 0.5);
    font-weight: bolder;
    font-size: 14px;
    line-height: 34px;
}
