:root {
    --background-color-primary: rgba(242, 242, 242, 1);
    --text-color-primary: rgb(0, 0, 0);
}

body {
    color: var(--text-color-primary);
    background-color: var(--background-color-primary);
    font-family: Roboto, serif;
}