.title__main-text-container {
    margin-top: 96px;
    padding: 0 15px;
}

.title__main-text__text {
    font-weight: bold;
    font-size: 32px;
    line-height: 37px;
    text-align: center;
}

.title__sub-text-container {
    margin-top: 24px;
    padding: 0 15px;
}

.title__sub-text__text {
    font-weight: bolder;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
}
